/* header */
.header{
    /* text-align: center; */
}
.header>.site-topbar{
    position: relative;
    z-index: 30;
    background-color: #333;
    color:#b0b0b0;
    font-size: 12px;
    height: 40px;
    line-height: 40px;    
}

.header>.site-topbar .site-topbar-container{
    position: relative;
}

.header>.site-topbar a{
    color:#757575;
}
.header>.site-topbar a:hover{
    color: #f9f5f9;
}


/*下载app*/
.header>.site-topbar .download-app{
    display: inline-block;
    position: relative;
}
.header>.site-topbar .download-app .code{
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;

}
.header>.site-topbar .download-app:hover .code{
    transition: height 3.3s;
    display: block;
}

/*右上角购物车*/
.header>.site-topbar .shop-car{
    /* background-color: aqua; */
    width: 120px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    
}
.header>.site-topbar .shop-car .cart-info{
    display: none;
    width: 200px;
    height: 100px;
    background-color: red;
}
.header>.site-topbar>.shop-car>a:hover .header>.site-topbar .shop-car .cart-info{
    display: block;
}


.header>.site-header{
    z-index: 20;
    height: 100px;
}




/* home-hero-container container */
.home-hero-container ,.container{
    background-color: saddlebrown;
}



/* page-main home-main */
.page-main ,.home-main{
    background-color: yellow;
}





/* footer */
.footer{
    background-color: #bfa;
}