{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 2
      }
    ]
  ],
  "plugins": [
    [
      "babel-plugin-component",
      {
        "libraryName": "mint-ui",//针对mint-ui实现按需打包引入
        "style": true//自动打包组件对应的样式
      }
    ]
  ]

}
// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "useBuiltIns": "usage",
//         "corejs": 2
//       }
//     ]
//   ],
//   "plugins": [
//     [
//       "babel-plugin-component",
//       [
//         {
//           "libraryName": "mint-ui",
//           "style": true
//         }
//       ],
//     ]
//   ] //这里可以 配置 其他的解析高级语法的插件 例如 @babel/plugin-proposal-class-properties  
// }