@font-face {
  font-family: "iconfont"; /* Project id 2581558 */
  src: url('iconfont.woff2?t=1622441937726') format('woff2'),
       url('iconfont.woff?t=1622441937726') format('woff'),
       url('iconfont.ttf?t=1622441937726') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao-:before {
  content: "\e654";
}

.icon-icon-test:before {
  content: "\e61b";
}

.icon-xiala:before {
  content: "\e603";
}

.icon-dingwei:before {
  content: "\e692";
}

