/*商品区域开始---*/
.container {
  margin: 20px auto;
  width: 1124px;
  /* background-color: aqua; */
}

/* 商品顶部导航区 */
.container .top_bar {
  height: 50px;
  line-height: 50px;
  /* background-color: red; */
}



/* 商品列表区域 */
.container .commodities {
  /*宽高由内容撑开*/
  font-size: 16px;
}


/* 每个商品的样式 */
.container .commodities .goods-item {
  width: 200px;
  height: 300px;
  /* background-color: royalblue; */
  margin: 10px;
  float: left;
  border: 1px solid transparent;
}

.container .commodities .goods-item:hover {
  border: 1px solid red;
}

/* 商品图片 */
.container .commodities .goods-item .goods-item_cover a {
  /* width: 100%; */
  /* height: 100%; */
  /* background-size:contain; */
  /* background: cover; */
  /* display: block; */

  /* width: 170px; */
}

.container .commodities .goods-item .goods-item_cover a img {
  display: block;
  background-size: contain;
  width: 100%;
}

.container .commodities .goods-item .goods-item_cover p {
  height: 40px;
  line-height: 20px;
  color: #999;
  overflow: hidden;
}

.container .commodities .goods-item .goods-item_cover span {
  line-height: 40px;
  color: #555;
}



/*商品区域结束---*/